/* html,body{
  height: 100%;
    margin: 0; padding: 0; border: none;
  } */


.jumbotron {
    background-color: rgb(39, 39, 39);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
   
}
h1 {
    font-size: large;
    text-align: center;
    font-weight: bolder;
}
h2 {
  font-size: x-large;
}
.col-sm-4 {
    background-color: rgb(238, 238, 238);
}

.city-results {
  height: 13cm;
}

.weather-info {
  height: 7cm;
}

.weather-one {
  height: 5cm;
}

  * {
    box-sizing: border-box;
  }
  
  form.city-search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.city-search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.city-search button:hover {
    background: #0b7dda;
  }
  
  form.city-search::after {
    content: "";
    clear: both;
    display: table;
  }

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .block {
    width: 100px;
  }

  